MONGODB_URI=***
IMAGEBB_API_KEY=***
NEXT_PUBLIC_FIREBASE_API_KEY=***
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=***
NEXT_PUBLIC_FIREBASE_PROJECT_ID=***
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=***
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=***
NEXT_PUBLIC_FIREBASE_APP_ID=***
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=***
JWT_SECRET=***
GOOGLE_SERVICE_ACCOUNT_EMAIL=***
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=***
GOOGLE_CALENDAR_ID=***
GOOGLE_CALENDAR_TIME_ZONE=Asia/Dhaka
